body{
	background-color: lightpink;



h1{
	color: #702086;
	text-align: center;
	font-size: 120px;
}
p{
	color: maroon;
	font-size: 80px;
	text-align: center;
}
}
img{
	height: 200px;
	width: 140px;
	border: 2px double gold;
	


}
a{
	color: rgb(87, 101, 9);
	text-align: center;
	font-size: 20px;
	font-family:sans-serif;
	text-decoration: none;
	
}
div{
	text-align: center;
}
#mes{
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	display: none;
	font-weight: bold;
	color: aqua;
}
iframe{
	text-align: center;
	
}
.heart {
    position: fixed;
    top: -10px;
    font-size: 25px;
    animation: fall linear forwards;
    color: #ff0055;
}


@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.music-box{
	visibility:visible
}